
<div class="container">
  <h1>My Tasks</h1>

  <div class="tasks">
    <% @tasks.each do |task| %>
      <p><%= task.completed ? "[X]" : "[ ]" %> <%= link_to task.title, task_path(task) %> <%= link_to image_tag("https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-512.png"), delete_path(task), method: :delete %></p>
    <% end %>
  </div>

  <hr>

  <%= link_to "Create new task", new_task_path, {:class=>"new_btn"} %>
</div>
