<h1>My Tasks</h1>

<div class="tasks">
  <% @tasks.each do |task| %>
    <p><%= task.completed ? "[X]" : "[ ]" %> <%= link_to task.title, task_path(task) %> | <%= link_to "Delete", delete_path(task), method: :delete %></p>
    <p><br></p>
  <% end %>
</div>

<hr>

<%= link_to "Create new task", new_task_path, {:class=>"new_btn"} %>
