// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width:700px;
  margin: 50px auto;
  border: 1px solid lightgrey;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

#task_details {
  border-radius: 4px;
  padding: 20px;
  margin-top: 30px;
  font-size: 18px;
}

.new_btn, .edit_btn {
  background-color: #1E555C;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 30px;
}

.new_btn:hover, .edit_btn:hover {
  background-color: #3AA393;
}

#edit_task_btn {
  display: flex;
  justify-content: flex-end;
}

body {
  font-family: sans-serif;
}

.edit_task {
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-weight: bold;
  margin: 10px;
}

input {
  margin: 10px;
}

#task_title {
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}

hr {
  margin-bottom: 30px;
}

.back_tasks {
  text-decoration: none;
}

img {
  height: 20px;
  width: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task_info {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.submit {
  background-color: #1E555C;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.submit:hover {
  background-color: #3AA393;
}
